.feed_card_name {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin: 0.5rem;
}

.feed_card_name > h2 {
  margin-left: 1rem;
  margin-top: 2rem;
}

.feed_card_profile {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
