.post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_input > input {
  width: 20rem;
  height: 3rem;
  border: 0.2rem solid #061208;
  border-radius: 0.8rem;
}

.post_btn > button {
  width: 5rem;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 0.1rem;
  border: 0.2rem solid #061208;
  border-radius: 0.8rem;
}
