.post {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.post_input > input {
  width: 30rem;
  height: 3rem;
  border: 0.2rem solid #061208;
  border-radius: 0.8rem;
}

.post_btn > button {
  width: 5rem;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 0.1rem;
  border: 0.2rem solid #061208;
  border-radius: 0.8rem;
}

@media (max-width: 950px) {
  .post_input > input {
    width: 20rem;
    margin-left: 6rem;
  }
}
@media (max-width: 730px) {
  .post_input > input {
    width: 15rem;
    height: 2rem;
  }
  .post_btn > button {
    height: 2rem;
    margin-left: 0.5rem;
  }
}

@media (max-width: 615px) {
  .post_input > input {
    width: 10rem;
  }
  .post_btn > button {
    margin-left: 0.1rem;
  }
}
