.login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}
.login_form {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid red;
  border-radius: 0.5rem;
  width: 20rem;
  height: 20rem;
}

.login_form_inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10rem;
  margin: 1rem;
}

.login_form_inputs input {
  margin: 0.25rem;
  height: 2rem;
  border-radius: 0.25rem;
}

.sign_up {
  margin: 1rem;
  margin-top: 3rem;
}
