.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 3.5rem;
  position: fixed;
  background-color: #ad1a06;
}

.nav_item {
  list-style-type: none;
}
